<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="renderAssembly" value="..\..\..\..\bin\Debug\Rendering\OpenGl\Rb.Rendering.OpenGl.dll"/>
    <add key="renderPlatformAssembly" value="Rb.Rendering.OpenGl.Windows"/>
    <add key="renderEffectsAssembly" value="Rb.Rendering.OpenGl.Cg"/>
    <add key="assetSetupPath" value="../assetSetup.xml"/>
  </appSettings>
</configuration>