<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="fileDump" type="Rb.Log.FileLogger,Rb.Log" initializeData="Output.txt" />
      </listeners>
    </trace>
  </system.diagnostics>

  <appSettings>
    <add key="renderAssembly" value="Rb.Rendering.OpenGl.Windows"/>
    <add key="assetSetupPath" value="../assetSetup.xml"/>
  </appSettings>
</configuration>
