<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.diagnostics>
		<switches>

			<add name="renderInfo"		value="1"/>
			<add name="renderWarn"		value="1"/>
			<add name="renderError"		value="1"/>

			<add name="resourceInfo"	value="1"/>
			<add name="resourceWarn"	value="1"/>
			<add name="resourceError"	value="1"/>

			<add name="componentInfo"	value="1"/>
			<add name="componentWarn"	value="1"/>
			<add name="componentError"	value="1"/>

			<add name="testAppInfo"		value="1"/>
			<add name="testAppWarn"		value="1"/>
			<add name="testAppError"	value="1"/>

		</switches>
		
		<trace autoflush="true" indentsize="4">

			<listeners>
				<add name="fileDump" type="RbEngine.NiceTextWriterTraceListener,RbEngine" initializeData="Output.txt" />
			</listeners>

		</trace>

	</system.diagnostics>
	<appSettings>
		<add key="renderAssembly" value="RbOpenGlRendering"/>
		<add key="resourceSetupPath" value="../resourceSetup.xml"/>
	</appSettings>
</configuration>
